@import url('https://fonts.googleapis.com/css2? Family= Lilita+One & display=swap');

*{
  margin: none;
  padding: none;
  text-decoration: 
  none;
  list-style: none;
}
/*---------------------------------------------------------*/
body{
  background-color:   #003B46;
}
/*---------------------------------------------------------*/
.container{
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: #fff;
}
/*---------------------------------------------------------*/
p{
  animation-duration: 4s;
  animation-name: slidein;
} 
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  } 
  to {
    margin-left: 
    0%; width: 100%; 
  } 
}
